body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Verdana, Geneva, sans-serif;
}
a {
    text-decoration: none;
}
.main-content {
    max-width: 100%;
    width: 800px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(249, 249, 249);
}
.main-logo {
    width: 12em;
    margin-top: 1em;
    margin-left: 3em;
}
.main-card {
    margin-top: 2em;
    margin-bottom: 5em;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 80%;
    width: 600px;
    padding: 4em;
    box-sizing: border-box;
    border-radius: 13px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2), -3px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.text-content {
    font-size: 1.5em;
    color: rgb(116, 114, 115);
}
.main-button {
    background-color: rgb(31, 245, 157);
    width: 15em;
    max-width: 100%;
    height: 3em;
    line-height: 3em;
    border-radius: 13px;
    color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.35);
    margin-top: 1em;
}
.footer {
    text-align: center;
    margin-bottom: 2em;
}
.footer__first-string {
    font-size: 1.3em;
    color: rgb(219, 219, 219);
    margin-bottom: 2em;
}
.link-divider {
    color: rgb(31, 245, 157);
    font-size: 1.3em;
}
.footer-link {
    color: rgb(219, 219, 219);
    font-size: 1.3em;
}